*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
}
button {
    font-weight: bold;
    font-size: 20px;
    width: auto;
    padding: 1em;
    margin: 1em;
    background-color: #000;
    border: 2px solid #fff;
}
button:hover{
    animation-name: rubberBand;
    animation-duration: 3s;
    box-shadow:  0 0 10px rgba(0, 0, 0, 1)
}
a{
    color: #fff;
    
}
.container{
    width: 70%;
    margin: auto;
    background-color: #fff;
}

.grid-container{
    display: grid;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    background-color: #000;
    gap: 5em;
    padding: 2em;
}

.ima_ges{
    width: 400px;
    object-fit: contain;
}
.ima_ges:hover{
    animation-name: pulse;
    animation-duration: 3s;
    box-shadow:  0 0 10px rgba(0, 0, 0, 1)
}

.grid-item:nth-of-type(1){
    grid-column: 1;
    grid-row: 1;
}

.grid-item:nth-of-type(2){
    grid-column: 2;
}

@media (max-width: 768px){
    body{
        background-color: #000;
    }
    
    .container{
        width: 100%;
        margin: 0;
        background-color: #fff;
    }
    
    .grid-container{
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        background-color: #000;
        gap: 10px;
        padding: 10px;
    }
    .grid-item{
       padding: 10px;
    }

    .grid-item:hover{
        animation-name: pulse;
        animation-duration: 3s;
        box-shadow:  0 0 10px rgba(0, 0, 0, 1)
    }
    
    .ima_ges{
        width: 100%;
        object-fit: contain;
    }
    

    .grid-item:nth-of-type(1){
        grid-column: 1;
        grid-row: 1;
    }
    
    .grid-item:nth-of-type(2){
        grid-column: 1;
        grid-row: 2;
    }
}